# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Large datasets
*.csv
*.xlsx
*.zip
*.tar

# Images / plots (optional)
*.png
*.jpg
